# .env.example (Safe to commit to Git)
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCsftvmyBmDNjpwx_JP87stCaAYwVNloUs
TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
EMAIL_PASS=kbehmtrjvwdfjlcj
DEEPL_API_KEY=cbb662a9-8c9c-4516-9f7e-95f5495afc6e:fx